<section class="home-hero-section pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="hero-content">
            <h1><%= contact %>STRATA ONE</h1>
            <h2><%= tcvz %></h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="hero-fancy-button">
            <div class="row">
              
              <div class="col-12 falling-element">
                <a
                  class="btn btn-fancy-hero rounded-pill btn-pulse"
                  href="#contact-section"
                  ><%= contact %></a
                >
              </div>
              <div class="col-6 falling-element-2">
                <a
                  class="btn btn-fancy-hero rounded-pill btn-pulse"
                  href="/about-us"
                  ><%= about_us %></a
                >
              </div>
              <div class="col-6 falling-element-2">
                <a
                  class="btn btn-fancy-hero rounded-pill btn-pulse"
                  href="https://docs.strataone.io"
                  ><%= guide %></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact-section" class="pt-0 pb-0 mb-0">
    <div class="the-black-strip">
      <div class="container">
        <div class="row">
          <div class="col-md-6"><h2><%= contact %></h2></div>
          <div class="col-md-6">
            <p>
              <span>"</span><%= wcu %><span>"</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="the-contact-section the-patner-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-content">
                        <h2><%= technical_issues %></h2>
                        <p><%= a %></p>
                        <h2><%= b %></h2>
                        <p><%= c %></p>
                        <h2><%= d %></h2>
                        <p><%= e %></p>
                        <h2><%= f %></h2>
                        <p><%= g %></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="website-contact-form">
                        <form action="">
                            <div class="mb-3">
                                <label for="email"><%= h %>*</label>
                                <input type="email" name="email" class="email form-control">
                            </div>
                            <div class="mb-3">
                                <label for="type"><%= j %>*</label>
                                <select name="type" class="form-select form-control" aria-label="type of message">
                                    <option value="General Question" selected><%= k %></option>
                                    <option value="Technical Issue"><%= l %></option>
                                    <option value="Partnership"><%= m %></option>
                                    <option value="Feedback"><%= n %></option>
                                    <option value="Job"><%= o %></option>
                                  </select>
                            </div>
                            <div class="mb-3">
                                <label for="message"><%= p %>*</label>
                                <textarea name="message" id="message" cols="30" rows="8" class="message form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-secondary btn-style form-control"><%= q %></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  